In [1]:
import pandas as pd
df = pd.read_csv('Florida-Age by Gender.csv')
df.head()

,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,...,P012045,P012045.2000,P012046,P012046.2000,P012047,P012047.2000,P012048,P012048.2000,P012049,P012049.2000
0,12,40,12,NaN,NaN,NaN,NaN,NaN,Florida,18801310,...,299777,235160,410799,395568,335427,348566,276098,239638,275812,219127